unidecode
rank_bm25
streamlit
google-cloud-firestore
uuid
datetime
spacy
firebase_admin
jwt
pyspellchecker
https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.2.0/pt_core_news_lg-3.2.0.tar.gz